<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="folder === ''">
            <ion-menu-button menu="sesion"></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container d-flex flex-column align-items-center" *ngIf="folder === 'Home'">
        <h1 class="fw-bold mt-5 display-1">META TOP</h1>
        <p class="mb-5 fs-2">Explore the top decks for:</p>

        <div class="logo mt-5 mb-5" [routerLink]="['/folder/Hearthstone']" routerLinkActive="router-link-active">
            <img class="logos" src="../../assets/img/hs_logo.png" alt="Hearthstone Logo">
        </div>

        <div class="logo mt-5" [routerLink]="['/folder/MarvelSnap']" routerLinkActive="router-link-active">
            <img class="logos" src="../../assets/img/ms_logo.png" alt="Marvel Snap Logo">
        </div>
    </div>

    <div id="home-container" class="container d-flex flex-column align-items-center" *ngIf="folder === 'Hearthstone'">
        <h3 class="mb-5">Hearthstone</h3>

        <div class="panel-content">
            <ul class="class-list class-ranking">
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_04d.webp);background-position-y: 20%;">
                    <div class="color-overlay paladin"></div>
                    <a href="https://www.hearthstonetopdecks.com/decks/pure-paladin-1-legend-dimitrikazov-return-to-naxxramas/" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#1</span><span class="class-name">Paladin</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(37, 147, 17);">53.6%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_09c.webp); background-position-y: 29%;">
                    <div class="color-overlay priest"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=PRIEST&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#2</span><span class="class-name">Priest</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(39, 137, 13);">51.9%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_11a.webp); background-position-y: 25%;">
                    <div class="color-overlay deathknight"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=DEATHKNIGHT&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#3</span><span class="class-name">Death Knight</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(41, 127, 10);">50.8%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_05b.webp); background-position-y: 31%;">
                    <div class="color-overlay hunter"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=HUNTER&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#4</span><span class="class-name">Hunter</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(97, 125, 0);">50.0%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_08c.webp); background-position-y: 28%;">
                    <div class="color-overlay mage"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=MAGE&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#5</span><span class="class-name">Mage</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(166, 163, 0);">49.8%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_07c.webp); background-position-y: 22%;">
                    <div class="color-overlay warlock"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=WARLOCK&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#6</span><span class="class-name">Warlock</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(171, 163, 0);">49.7%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_10a.webp); background-position-y: 24%;">
                    <div class="color-overlay demonhunter"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=DEMONHUNTER&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#7</span><span class="class-name">Demon Hunter</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(196, 158, 0);">49.3%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_06c.webp); background-position-y: 25%;">
                    <div class="color-overlay druid"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=DRUID&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#8</span><span class="class-name">Druid</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(199, 157, 0);">49.2%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_03b.webp); background-position-y: 27%;">
                    <div class="color-overlay rogue"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=ROGUE&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index">#9</span><span class="class-name">Rogue</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(249, 124, 0);">46.7%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_01b.webp); background-position-y: 27%;">
                    <div class="color-overlay warrior"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=WARRIOR&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index class-index--two-digits">#10</span><span class="class-name">Warrior</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(255, 93, 34);">42.4%</span></div>
                    </a>
                </li>
                <li class="class-item" style="background-image: url(https://art.hearthstonejson.com/v1/512x/HERO_02d.webp); background-position-y: 28%;">
                    <div class="color-overlay shaman"></div>
                    <a href="https://hsreplay.net/decks/#playerClasses=SHAMAN&gameType=RANKED_STANDARD" target="iframe_a" class="class-item-content">
                        <div class="class-item-title"><span class="class-index class-index--two-digits">#11</span><span class="class-name">Shaman</span></div>
                        <div class="winrate-wrapper"><span class="class-winrate" style="color: rgb(255, 90, 40);">41.5%</span></div>
                    </a>
                </li>
            </ul>


        </div>
    </div>

    <div class="container d-flex flex-column align-items-center " *ngIf="folder === 'MarvelSnap' ">
        <h3 class="mb-3">Marvel Snap</h3>

        <h4>TIER 1</h4>

        <div class="accordion accordion-flush" id="tier1">
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center border-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Lockjaw Thanos
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#tier1">
                    <img class="mb-3 mt-5" src="../../assets/img/lockjaw_Thanos.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiTG9ja2phdyBUaGFub3MiLCJDYXJkcyI6W3siQ2FyZERlZklkIjoiU3Vuc3BvdCJ9LHsiQ2FyZERlZklkIjoiUXVpbmpldCJ9LHsiQ2FyZERlZklkIjoiTG9ja2phdyJ9LHsiQ2FyZERlZklkIjoiV2F2ZSJ9LHsiQ2FyZERlZklkIjoiU2hhbmdDaGkifSx7IkNhcmREZWZJZCI6IkJsdWVNYXJ2ZWwifSx7IkNhcmREZWZJZCI6IkxlZWNoIn0seyJDYXJkRGVmSWQiOiJBZXJvIn0seyJDYXJkRGVmSWQiOiJBbWVyaWNhQ2hhdmV6In0seyJDYXJkRGVmSWQiOiJTaGVIdWxrIn0seyJDYXJkRGVmSWQiOiJUaGFub3MifSx7IkNhcmREZWZJZCI6Ik1hZ25ldG8ifV19')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-5">Copy Deck</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Shuri Zero
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#tier1">
                    <img class="mb-3 mt-5" src="../../assets/img/shuri_Zero.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiU2h1cmkgWmVybyIsIkNhcmRzIjpbeyJDYXJkRGVmSWQiOiJTdW5zcG90In0seyJDYXJkRGVmSWQiOiJaZXJvIn0seyJDYXJkRGVmSWQiOiJUaXRhbmlhIn0seyJDYXJkRGVmSWQiOiJBcm1vciJ9LHsiQ2FyZERlZklkIjoiTGl6YXJkIn0seyJDYXJkRGVmSWQiOiJDb3NtbyJ9LHsiQ2FyZERlZklkIjoiUG9sYXJpcyJ9LHsiQ2FyZERlZklkIjoiU2h1cmkifSx7IkNhcmREZWZJZCI6IlRhc2ttYXN0ZXIifSx7IkNhcmREZWZJZCI6IkFlcm8ifSx7IkNhcmREZWZJZCI6IlJlZFNrdWxsIn0seyJDYXJkRGVmSWQiOiJTaGVIdWxrIn1dfQ==')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-5">Copy Deck</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Shuri Sauron
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#tier1">
                    <img class="mb-3 mt-5" src="../../assets/img/shuri_Sauron.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiU2h1cmkgU2F1cm9uIiwiQ2FyZHMiOlt7IkNhcmREZWZJZCI6IlN1bnNwb3QifSx7IkNhcmREZWZJZCI6Ilplcm8ifSx7IkNhcmREZWZJZCI6IkVib255TWF3In0seyJDYXJkRGVmSWQiOiJBcm1vciJ9LHsiQ2FyZERlZklkIjoiTGl6YXJkIn0seyJDYXJkRGVmSWQiOiJTYXVyb24ifSx7IkNhcmREZWZJZCI6IlNodXJpIn0seyJDYXJkRGVmSWQiOiJUeXBob2lkTWFyeSJ9LHsiQ2FyZERlZklkIjoiVGFza21hc3RlciJ9LHsiQ2FyZERlZklkIjoiQWVybyJ9LHsiQ2FyZERlZklkIjoiUmVkU2t1bGwifSx7IkNhcmREZWZJZCI6IlNoZUh1bGsifV19')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-5">Copy Deck</button>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mt-5">TIER 2</h4>

        <div class="accordion accordion-flush" id="tier2">
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center border-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Zabu Sera Control
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#tier2">
                    <img class="mb-3 mt-5" src="../../assets/img/zabu_Sera_Control.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiU2VyYSBDb250cm9sIiwiQ2FyZHMiOlt7IkNhcmREZWZJZCI6IktvcmcifSx7IkNhcmREZWZJZCI6IlphYnUifSx7IkNhcmREZWZJZCI6IlNjYXJsZXRXaXRjaCJ9LHsiQ2FyZERlZklkIjoiTGl6YXJkIn0seyJDYXJkRGVmSWQiOiJLaWxsbW9uZ2VyIn0seyJDYXJkRGVmSWQiOiJQb2xhcmlzIn0seyJDYXJkRGVmSWQiOiJNYXhpbXVzIn0seyJDYXJkRGVmSWQiOiJEYXJraGF3ayJ9LHsiQ2FyZERlZklkIjoiU2hhbmdDaGkifSx7IkNhcmREZWZJZCI6IkVuY2hhbnRyZXNzIn0seyJDYXJkRGVmSWQiOiJSb2Nrc2xpZGUifSx7IkNhcmREZWZJZCI6IlNlcmEifV19')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-3">Copy Deck</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Thanos Ongoing Zoo
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#tier2">
                    <img class="mb-3 mt-5" src="../../assets/img/thanos_Ongoing_Zoo.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiRWxlY3RybyBSYW1wIiwiQ2FyZHMiOlt7IkNhcmREZWZJZCI6IlN1bnNwb3QifSx7IkNhcmREZWZJZCI6IkljZW1hbiJ9LHsiQ2FyZERlZklkIjoiRWJvbnlNYXcifSx7IkNhcmREZWZJZCI6IkVsZWN0cm8ifSx7IkNhcmREZWZJZCI6IldhdmUifSx7IkNhcmREZWZJZCI6IkxlZWNoIn0seyJDYXJkRGVmSWQiOiJCbGFja1BhbnRoZXIifSx7IkNhcmREZWZJZCI6IlNhbmRtYW4ifSx7IkNhcmREZWZJZCI6IkFybmltWm9sYSJ9LHsiQ2FyZERlZklkIjoiRHJEb29tIn0seyJDYXJkRGVmSWQiOiJPZGluIn0seyJDYXJkRGVmSWQiOiJBbWVyaWNhQ2hhdmV6In1dfQ==')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-3">Copy Deck</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Electro Sandman Ramp
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#tier2">
                    <img class="mb-3 mt-5" src="../../assets/img/electro_Sandman_Ramp.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiRWxlY3RybyBSYW1wIiwiQ2FyZHMiOlt7IkNhcmREZWZJZCI6IlN1bnNwb3QifSx7IkNhcmREZWZJZCI6IkljZW1hbiJ9LHsiQ2FyZERlZklkIjoiRWJvbnlNYXcifSx7IkNhcmREZWZJZCI6IkVsZWN0cm8ifSx7IkNhcmREZWZJZCI6IldhdmUifSx7IkNhcmREZWZJZCI6IkxlZWNoIn0seyJDYXJkRGVmSWQiOiJCbGFja1BhbnRoZXIifSx7IkNhcmREZWZJZCI6IlNhbmRtYW4ifSx7IkNhcmREZWZJZCI6IkFybmltWm9sYSJ9LHsiQ2FyZERlZklkIjoiRHJEb29tIn0seyJDYXJkRGVmSWQiOiJPZGluIn0seyJDYXJkRGVmSWQiOiJBbWVyaWNhQ2hhdmV6In1dfQ==')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-3">Copy Deck</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingSeven">
                    <button class="accordion-button collapsed bg-dark text-light d-flex align-items-center mb-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Lockjaw Thor
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse mb-5" aria-labelledby="flush-headingSeven" data-bs-parent="#tier2">
                    <img class="mb-3 mt-5" src="../../assets/img/lockjaw_Thor.jpg" alt="Lockjaw Thanos">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button (click)="copyDeck('eyJOYW1lIjoiTG9ja2phdyBPbiBSZXZlYWwiLCJDYXJkcyI6W3siQ2FyZERlZklkIjoiV2FzcCJ9LHsiQ2FyZERlZklkIjoiU3Vuc3BvdCJ9LHsiQ2FyZERlZklkIjoiTmlnaHRjcmF3bGVyIn0seyJDYXJkRGVmSWQiOiJMb2NramF3In0seyJDYXJkRGVmSWQiOiJUaG9yIn0seyJDYXJkRGVmSWQiOiJEcmFjdWxhIn0seyJDYXJkRGVmSWQiOiJKdWJpbGVlIn0seyJDYXJkRGVmSWQiOiJKYW5lRm9zdGVyIn0seyJDYXJkRGVmSWQiOiJBbWVyaWNhQ2hhdmV6In0seyJDYXJkRGVmSWQiOiJTaGVIdWxrIn0seyJDYXJkRGVmSWQiOiJNYWduZXRvIn0seyJDYXJkRGVmSWQiOiJJbmZpbmF1dCJ9XX0=')"
                            type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mt-3 ">Copy Deck</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container d-flex flex-column align-items-center justify-content-center show-map" id="map" *ngIf="folder === 'Location'">
        <!--<div>
            <button type="button" class="btn btn-lg btn-secondary" (onclick)="loadMap()"> Load Map </button>
        </div>-->
        <div class="d-flex flex-column align-items-center justify-content-center location-btn bg-secondary p-5 rounded-pill">
            <i class="fa-solid fa-location-crosshairs mb-5"></i>
            <button type="button" class="btn btn-dark mb-5 fs-1 rounded-pill" (click)="loadMap()">Get Location</button>

        </div>

    </div>

</ion-content>