<ion-content>
    <div>
        <div class="d-flex flex-column align-items-center p-3 fs-1 fw-bold">

            <ion-label>Welcome to</ion-label>

            <ion-label>META TOP</ion-label>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <img src=" ../../../assets/img/icon.png " alt="logo " style="height: 300px; ">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto ">
            <button type="button " class="fs-2 btn btn-dark btn-lg m-3 p-3 " [routerLink]="[ '/Login'] " routerLinkActive="router-link-active ">
          Login
        </button>
            <button type="button " class="fs-2 btn btn-dark btn-lg m-3 p-3 " [routerLink]="[ '/SignIn'] " routerLinkActive="router-link-active ">
          Signin
        </button>
        </div>
    </div>


</ion-content>