.bg-logo {
    height: 100vh !important;
}

.cover {
    background-image: url("../../../assets/img/icon.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}