.bg-logo {
    background-image: url("../../../assets/img/splash.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100% !important;
}

.cover {
    height: 40%;
}