<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginUser" (ngSubmit)="login()">
        <ion-item class="m-5">
            <ion-label position="floating">E-Mail
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="email" formControlName="email" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="mt-5 ms-5 mx-5 mb-3">
            <ion-label position="floating">Password
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
        </ion-item>

        <div class="text-center fs-3">
            <a [routerLink]="['/Reset-Password']" routerLinkActive="router-link-active">Forgot your password?</a>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto mt-4">

            <button [disabled]="loginUser.invalid" type="submit" class="fs-2 btn btn-dark" block color="primary">
                Login
            </button>

        </div>

    </form>

    <div class="text-center fs-2 d-flex justify-content-center align-items-center m-5">
        <ion-label>Dont have an account?</ion-label>
    </div>

    <div class=" d-grid gap-2 col-6 mx-auto">
        <button type="button" class="fs-2 btn btn-dark" [routerLink]="['/SignIn']" routerLinkActive="router-link-active">Sign In</button>
    </div>
</ion-content>