<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item class="m-5">
            <ion-label position="floating">E-Mail
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item class="m-5">
            <ion-label position="floating">Password
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <div class="d-grid gap-2 col-6 mx-auto mt-5">

            <button type="button" class="fs-2 btn btn-dark" block color="primary" type="submit" [routerLink]="['/folder/Home']" routerLinkActive="router-link-active">
                Login
            </button>

        </div>

    </form>

    <div class="text-center fs-2 d-flex justify-content-center align-items-center m-5">
        <ion-label>Dont have an account?</ion-label>
    </div>

    <div class=" d-grid gap-2 col-6 mx-auto">
        <button type="button " class="fs-2 btn btn-dark " [routerLink]="[ '/SignIn'] " routerLinkActive="router-link-active ">Sign In</button>
    </div>
</ion-content>